Repository boostcampwm-2022/iOS02-Trinap, pull requests merged in 2022-11, with the labels that each got.

#5 Tuist 적용 및 Development Team 설정
  .gitignore
  .swiftlint.yml
  Plugins/Trinap/Package.swift
  Plugins/Trinap/Plugin.swift
  Plugins/Trinap/ProjectDescriptionHelpers/LocalHelper.swift
  Plugins/Trinap/Sources/tuist-my-cli/main.swift
  Project.swift
  Scripts/SwiftLintRunScript.sh
  Trinap/Resources/LaunchScreen.storyboard
  Trinap/Sources/AppDelegate.swift
  Tuist/Config.swift
  Tuist/Dependencies.swift
  Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  Tuist/master.key
Labels: ✨ Feat

#113 Cloud Functions + Messaging으로 푸시 알림 구현
  .gitignore
  Project.swift
  Trinap/Sources/App/AppDelegate.swift
  Trinap/Sources/Utils/Logger.swift
Labels: ✨ Feat, Firebase

#114 Feature/fire store service
  Project.swift
  Trinap/Sources/Services/Network/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Services/Network/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Utils/Encodable+.swift
Labels: ✨ Feat, Firebase

#115 Feature/signIn view 추가
  Project.swift
  Trinap/Resources/Assets.xcassets/Images/Logo_Vertical.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/Logo_Vertical.imageset/logo_vertical.png
  Trinap/Resources/Assets.xcassets/Images/Logo_Vertical.imageset/logo_vertical2x.png
  Trinap/Resources/Assets.xcassets/Images/Logo_Vertical.imageset/logo_vertical3x.png
  Trinap/Sources/App/AppCoordinator.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Tuist/Dependencies.swift
Labels: ✨ Feat, View, Coordinator, :lipstick: Style, Auth

#119 Feature/fire store service
  Trinap/Sources/Services/Network/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Services/Network/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Utils/Array+.swift
Labels: Hotfix

#118 TokenManager, KeychainManager 구현
  Trinap/Sources/Services/Network/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Services/Network/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Utils/TokenManager/KeychainTokenManager.swift
  Trinap/Sources/Utils/TokenManager/TokenManager.swift
Labels: ✨ Feat, Auth

#120 Feature/photographer repository
  Trinap/Sources/Data/DTO/PhotographerDTO.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Domain/Models/Photographer.swift
  Trinap/Sources/Domain/Models/TagType.swift
  Trinap/Sources/Domain/Repositories/Photographer/PhotographerRepository.swift
  Trinap/Sources/Services/Network/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Services/Network/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Utils/Dictionary+.swift
  Trinap/Sources/Utils/Encodable+.swift
  Trinap/Sources/Utils/FireStoreCollectionName.swift
Labels: ✨ Feat, Repository, PhotographerDetail

#125 FirestoreService 모듈 구현
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  FirestoreService/Sources/FireStore/FireStoreCollectionName.swift
  FirestoreService/Sources/FireStore/FirebaseStoreService.swift
  Project.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatRepository.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Data/Repositories/Report/DefaultReportRepository.swift
  Trinap/Sources/Data/Repositories/Reservation/DefaultReservationRepository.swift
  Trinap/Sources/Data/Repositories/User/DefaultUserRepository.swift
  Tuist/Dependencies.swift
Labels: ✨ Feat, Firebase

#127 Edit photographer list use case
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Data/DTO/PhotographerDTO.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Domain/Models/Photographer.swift
  Trinap/Sources/Domain/UseCases/Photographer/DefaultEditPhotographerUseCase.swift
  Trinap/Sources/Domain/UseCases/Photographer/Protocols/EditPhotographerUseCase.swift
Labels: ✨ Feat, UseCase, PhotographerDetail, EditPhotographerInfo

#128 Feature/edit portfolio picture use case
  Trinap/Sources/Domain/UseCases/Photographer/DefaultEditPortfolioPictureUseCase.swift
  Trinap/Sources/Domain/UseCases/Photographer/Protocols/EditPortfolioPictureUseCase.swift
Labels: ✨ Feat, UseCase, PhotographerDetail, EditPhotographerInfo

#129 Feature/review repository
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  FirestoreService/Sources/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Data/DTO/ReviewDTO.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Data/Repositories/Review/DefaultReviewRepository.swift
  Trinap/Sources/Data/Repositories/User/DefaultUserRepository.swift
  Trinap/Sources/Domain/Models/Review.swift
  Trinap/Sources/Domain/Repositories/Review/ReviewRepository.swift
Labels: ✨ Feat, Repository

#131 Feature/fetch photographer use case
  Trinap/Sources/Data/Repositories/Reservation/DefaultReservationRepository.swift
  Trinap/Sources/Domain/Models/Reservation.swift
  Trinap/Sources/Domain/Repositories/Reservation/ReservationRepository.swift
  Trinap/Sources/Domain/UseCases/Photographer/DefaultFetchPhotographerUseCase.swift
  Trinap/Sources/Domain/UseCases/Photographer/Protocols/FetchPhotographerUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultFetchReservationsUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/FetchReservationsUseCase.swift
Labels: ✨ Feat, UseCase, PhotographerDetail

#138 채팅 리스트 뷰 구현
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  FirestoreService/Sources/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatRepository.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Domain/Models/ChatPreview.swift
  Trinap/Sources/Domain/UseCases/Chat/DefaultObserveChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/DefaultObserveLastChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/ObserveChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/ObserveLastChatUseCase.swift
  Trinap/Sources/Domain/UseCases/ChatPreviews/DefaultObserveChatPreviewsUseCase.swift
  Trinap/Sources/Domain/UseCases/ChatPreviews/FetchChatPreviewsUseCase.swift
  Trinap/Sources/Presenter/Common/Reusable/ProfileImageView.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatPreviewCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/UnreadAccessoryView.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewModel.swift
  TrinapTests/RxTest+RecordedEvents.swift
Labels: ✨ Feat, View, ViewModel, UseCase, :lipstick: Style, Chat

#140 Feature/review use case
  Trinap/Sources/Data/DTO/ReviewDTO.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Data/Repositories/Review/DefaultReviewRepository.swift
  Trinap/Sources/Domain/Models/Review.swift
  Trinap/Sources/Domain/Models/Review/PhotographerReview.swift
  Trinap/Sources/Domain/Models/Review/Review.swift
  Trinap/Sources/Domain/Models/Review/UserReview.swift
  Trinap/Sources/Domain/Repositories/Photographer/PhotographerRepository.swift
  Trinap/Sources/Domain/UseCases/Review/DefaultReviewUseCase.swift
  Trinap/Sources/Domain/UseCases/Review/FetchReviewUseCase.swift
  Trinap/Sources/Utils/Array+.swift
Labels: ✨ Feat, UseCase

#141 채팅에 날짜 반영
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Data/DTO/ChatDTO.swift
  Trinap/Sources/Data/DTO/ChatroomDTO.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatRepository.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Domain/Models/Chat.swift
  Trinap/Sources/Domain/Models/ChatPreview.swift
  Trinap/Sources/Domain/Models/Chatroom.swift
  Trinap/Sources/Domain/UseCases/ChatPreviews/DefaultObserveChatPreviewsUseCase.swift
  Trinap/Sources/Domain/UseCases/Photographer/DefaultFetchPhotographersUseCase.swift
  Trinap/Sources/Presenter/Common/Extension/Date+ProperText.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatPreviewCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewModel.swift
  Trinap/Sources/Utils/Date+.swift
Labels: ✨ Feat, :lipstick: Style, Chat, Firebase

#142 TrinapButton 구현
  Trinap/Sources/Presenter/Common/Reusable/TrinapButton.swift
Labels: ✨ Feat, :lipstick: Style

#144 CreateReviewUseCase 작성 및 FetchReivewUseCase 테스트 코드 작성
  Project.swift
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Data/Repositories/Review/DefaultReviewRepository.swift
  Trinap/Sources/Data/Repositories/User/DefaultUserRepository.swift
  Trinap/Sources/Domain/Models/Review/Review.swift
  Trinap/Sources/Domain/Repositories/Review/ReviewRepository.swift
  Trinap/Sources/Domain/UseCases/Review/CreateReviewUseCase.swift
  Trinap/Sources/Domain/UseCases/Review/DefaultCreateReviewUseCase.swift
  Trinap/Sources/Domain/UseCases/Review/DefaultFetchReviewUseCase.swift
  Trinap/Sources/Domain/UseCases/Review/FetchReviewUseCase.swift
  Trinap/Sources/Utils/Array+.swift
  TrinapTests/Sources/RxTest+RecordedEvents.swift
  TrinapTests/Sources/UseCase/Review/FetchReviewUseCaseTests.swift
  TrinapTests/Sources/UseCase/Review/MockReviewRepository.swift
  TrinapTests/Sources/UseCase/Review/MockUserRepository.swift
Labels: ✨ Feat, 🧪 Test, UseCase

#145 feat: Than 프레임워크 구현
  Project.swift
  Than/Sources/Than.swift
Labels: ✨ Feat

#146 Feature/MockViewController + Coordinator 구현
  Trinap/Resources/Assets.xcassets/Images/select_user.imageset/selecte_user.png
  Trinap/Resources/Assets.xcassets/Images/select_user.imageset/selecte_user@2x.png
  Trinap/Resources/Assets.xcassets/Images/select_user.imageset/selecte_user@3x.png
  Trinap/Resources/Assets.xcassets/Images/selected_reservation.imageset/selected_reservation.png
  Trinap/Resources/Assets.xcassets/Images/selected_reservation.imageset/selected_reservation@2x.png
  Trinap/Resources/Assets.xcassets/Images/selected_reservation.imageset/selected_reservation@3x.png
  Trinap/Sources/App/AppCoordinator.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/MockChatViewController.swift
  Trinap/Sources/Presenter/TabBar/Coordinator/TabBarCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Coordinator/TabBarPageType.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/MainCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/MockPhotographerListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageCoordinator.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MockMyPageViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/MockReservationListViewController.swift
Labels: ✨ Feat, Coordinator, :lipstick: Style

#150 Feature/CreateUserUseCase 구현
  Trinap/Sources/App/AppDelegate.swift
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Domain/Repositories/Auth/AuthRepository.swift
  Trinap/Sources/Domain/UseCases/SignIn/CreateUserUseCase.swift
  Trinap/Sources/Domain/UseCases/SignIn/DefaultCreateUserUseCase.swift
  Trinap/Sources/Domain/UseCases/SignIn/DefaultSignInUseCase.swift
  Trinap/Sources/Presenter/TabBar/Coordinator/TabBarPageCase.swift
Labels: ✨ Feat, UseCase, Auth

#152 Feature/mypage
  Trinap/Sources/Domain/Models/MyPageItem.swift
  Trinap/Sources/Domain/Models/User.swift
  Trinap/Sources/Domain/UseCases/MyPage/DefaultFetchUserUseCase.swift
  Trinap/Sources/Domain/UseCases/MyPage/FetchUserUseCase.swift
  Trinap/Sources/Presenter/Common/Extension/UIViewController+.swift
  Trinap/Sources/Presenter/Common/Reusable/ProfileImageView.swift
  Trinap/Sources/Presenter/Common/Reusable/TrinapButton.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageCoordinator.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MockMyPageViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageInfoRow.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageSectionHeader.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/ProfileCell.swift
  Trinap/Sources/Presenter/TabBar/Review/CreateReviewViewController.swift
Labels: ✨ Feat, View, ViewModel, UseCase, MyPage

#154 Feature/map service
  Trinap/Sources/Data/Repositories/Map/DefaultMapRepository.swift
  Trinap/Sources/Domain/Models/Coordinate.swift
  Trinap/Sources/Domain/Models/Space.swift
  Trinap/Sources/Domain/Repositories/Map/MapRepository.swift
  Trinap/Sources/Utils/LocalError.swift
Labels: ✨ Feat, Repository, MapKit

#155 Feature/create user view
  Trinap/Sources/App/AppCoordinator.swift
  Trinap/Sources/Data/DTO/NicknameDTO.swift
  Trinap/Sources/Data/Endpoint/RandomNicknameEndpoint.swift
  Trinap/Sources/Data/NetworkService/DefaultNetworkService.swift
  Trinap/Sources/Data/NetworkService/Endpoint.swift
  Trinap/Sources/Data/NetworkService/NetworkError.swift
  Trinap/Sources/Data/NetworkService/NetworkService.swift
  Trinap/Sources/Data/Repositories/User/DefaultUserRepository.swift
  Trinap/Sources/Domain/Repositories/User/UserRepository.swift
  Trinap/Sources/Domain/UseCases/SignIn/CreateUserUseCase.swift
  Trinap/Sources/Domain/UseCases/SignIn/DefaultCreateUserUseCase.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/Auth/CreateUser/CreateUserViewController.swift
  Trinap/Sources/Presenter/Auth/CreateUser/CreateUserViewModel.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewModel.swift
  Trinap/Sources/Presenter/Common/Reusable/NicknameTextFieldView.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewController.swift
Labels: ✨ Feat, View, ViewModel, UseCase, Repository, :lipstick: Style, Auth

#157 Feature/map service
  Project.swift
  Trinap/Sources/Data/Repositories/Map/DefaultMapRepository.swift
  Trinap/Sources/Domain/Repositories/Map/MapRepository.swift
  Trinap/Sources/Utils/LocalError.swift
Labels: ✨ Feat, Repository, MapKit

#159 Feature/auto signIn
  Trinap/Resources/Assets.xcassets/Images/logo_apple.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/logo_apple.imageset/logo_apple.png
  Trinap/Resources/Assets.xcassets/Images/logo_apple.imageset/logo_apple@2x.png
  Trinap/Resources/Assets.xcassets/Images/logo_apple.imageset/logo_apple@3x.png
  Trinap/Sources/App/AppCoordinator.swift
  Trinap/Sources/App/Splash/SplashViewController.swift
  Trinap/Sources/App/Splash/SplashViewModel.swift
  Trinap/Sources/App/SplashViewController.swift
  Trinap/Sources/Domain/UseCases/SignIn/DefaultSignInUseCase.swift
  Trinap/Sources/Domain/UseCases/SignIn/SignInUseCase.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
Labels: ✨ Feat, View, ViewModel, UseCase, Coordinator, :lipstick: Style, Auth, App

#161 채팅 이미지 전송 구현
  Trinap/Sources/Data/Repositories/Image/DefaultUploadImageRepository.swift
  Trinap/Sources/Domain/Repositories/Image/UploadImageRepository.swift
  Trinap/Sources/Domain/UseCases/DefaultUploadImageUseCase.swift
  Trinap/Sources/Domain/UseCases/UploadImageUseCase.swift
  Trinap/Sources/Presenter/Common/Extension/UIAlertController+Builder.swift
  Trinap/Sources/Presenter/Common/Extension/UIImagePickerController+Rx.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewModel.swift
Labels: ✨ Feat, View, ViewModel, UseCase, Repository, :lipstick: Style, Chat

#164 ChatCoordinator에 연결
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  Trinap/Sources/Domain/Models/ChatPreview.swift
  Trinap/Sources/Domain/UseCases/ChatPreviews/DefaultObserveChatPreviewsUseCase.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatPreviewCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatCoordinator.swift
Labels: ✨ Feat, Coordinator, Chat

#169 Feature/refactor AuthReopository
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Domain/Repositories/Auth/AuthRepository.swift
  Trinap/Sources/Domain/UseCases/SignIn/DefaultSignInUseCase.swift
  Trinap/Sources/Domain/UseCases/SignIn/SignInUseCase.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewModel.swift
Labels: ✨ Feat, 🐛 Fix, Repository, Auth

#170 Feature/photographer repository
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  FirestoreService/Sources/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Data/DTO/PhotographerDTO.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Domain/Models/Coordinate.swift
  Trinap/Sources/Domain/Models/Photographer.swift
  Trinap/Sources/Domain/Repositories/Photographer/PhotographerRepository.swift
Labels: ✨ Feat, Repository

#175 LocationShare Tracking + 채팅 이미지 정상화
  Project.swift
  Queenfisher/Sources/View/Image+Downsample.swift
  Queenfisher/Sources/View/ImageView+QF.swift
  Trinap/Resources/Assets.xcassets/Images/customerPin.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/customerPin.imageset/Pin=Pin.png
  Trinap/Resources/Assets.xcassets/Images/customerPin.imageset/Pin=Pin@2x.png
  Trinap/Resources/Assets.xcassets/Images/customerPin.imageset/Pin=Pin@3x.png
  Trinap/Resources/Assets.xcassets/Images/photographerPin.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/photographerPin.imageset/Pin=Me_pin.png
  Trinap/Resources/Assets.xcassets/Images/photographerPin.imageset/Pin=Me_pin@2x.png
  Trinap/Resources/Assets.xcassets/Images/photographerPin.imageset/Pin=Me_pin@3x.png
  Trinap/Sources/Data/DTO/ChatDTO.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatRepository.swift
  Trinap/Sources/Data/Repositories/Location/DefaultLocationRepository.swift
  Trinap/Sources/Domain/Models/Chat.swift
  Trinap/Sources/Domain/Models/SharedLocation.swift
  Trinap/Sources/Domain/Repositories/Chat/ChatRepository.swift
  Trinap/Sources/Domain/Repositories/Location/LocationRepository.swift
  Trinap/Sources/Domain/UseCases/Chat/DefaultSendChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/SendChatUseCase.swift
  Trinap/Sources/Domain/UseCases/LocationShare/DefaultObserveLocationUseCase.swift
  Trinap/Sources/Domain/UseCases/LocationShare/DefaultUpdateLocationUseCase.swift
  Trinap/Sources/Domain/UseCases/LocationShare/ObserveLocationUseCase.swift
  Trinap/Sources/Domain/UseCases/LocationShare/UpdateLocationUseCase.swift
  Trinap/Sources/Presenter/Common/Extension/CLLocationManager+Rx.swift
  Trinap/Sources/Presenter/Common/Extension/MapView+Rx.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ActionChatCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ImageChatCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Chat/Location/LocationShareViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/Location/LocationShareViewModel.swift
  Tuist/Dependencies.swift
Labels: ✨ Feat, 🐛 Fix, View, ViewModel, UseCase, Repository, :lipstick: Style, Chat, MapKit

#177 feat: User document 생성 시 photographer document도 함께 생성하도록 수정
  Trinap/Sources/Domain/Models/Photographer.swift
  Trinap/Sources/Domain/UseCases/SignIn/DefaultCreateUserUseCase.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
Labels: ✨ Feat, Auth, EditPhotographerInfo

#183 채팅방 시간순 정렬 및 읽음 / 읽지 않음 표시
  Trinap/Sources/Data/Repositories/Chat/DefaultChatRepository.swift
  Trinap/Sources/Domain/Models/ChatPreview.swift
  Trinap/Sources/Domain/Repositories/Chat/ChatRepository.swift
  Trinap/Sources/Domain/UseCases/Chat/DefaultObserveChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/DefaultUpdateIsCheckedUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/UpdateIsCheckedUseCase.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatPreviewCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatCoordinator.swift
Labels: ✨ Feat, View, ViewModel, UseCase, Repository, :lipstick: Style, Chat

#184 Feature/SelectReservationDateView 구현
  .swiftlint.yml
  Project.swift
  Trinap/Sources/Domain/Models/ReservationDate.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultCreateReservationDateUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/CreateReservationDateUseCase.swift
  Trinap/Sources/Presenter/Common/Reusable/TrinapMultiSelectionCalendarView.swift
  Trinap/Sources/Presenter/Common/Reusable/TrinapSingleSelectionCalendarView.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/MainCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/SelectReservationDate/SelectReservationDateViewController.swift
  Trinap/Sources/Presenter/TabBar/Main/SelectReservationDate/SelectReservationDateViewModel.swift
  Trinap/Sources/Presenter/TabBar/Main/SelectReservationDate/TimeCell.swift
  Trinap/Sources/Presenter/TabBar/Main/SelectReservationDate/TitleSectionHeaderView.swift
  Trinap/Sources/Utils/Date+.swift
  Tuist/Dependencies.swift
Labels: ✨ Feat, View, ViewModel, UseCase, Coordinator, :lipstick: Style, PhotographerDetail

#186 채팅 날짜 업데이트
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Domain/Repositories/Chat/ChatroomRepository.swift
  Trinap/Sources/Domain/UseCases/ChatPreviews/DefaultObserveChatPreviewsUseCase.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewModel.swift
Labels: ✨ Feat, :lipstick: Style, Chat
