Repository boostcampwm-2022/iOS02-Trinap, pull requests merged in 2022-12, with the labels that each got.

#189 Feature/reservation
  Trinap/Sources/Data/DTO/ReservationDTO.swift
  Trinap/Sources/Data/Repositories/Reservation/DefaultReservationRepository.swift
  Trinap/Sources/Domain/Models/Reservation.swift
  Trinap/Sources/Domain/Repositories/Reservation/ReservationRepository.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultFetchReservationPreviewsUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultFetchReservationsUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/FetchReservationPreviewsUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/FetchReservationsUseCase.swift
  Trinap/Sources/Presenter/Common/Reusable/Filter/FilterCell.swift
  Trinap/Sources/Presenter/Common/Reusable/Filter/FilterView.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/PhotographerListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPhotographerViewModel.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/MockReservationListViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationCell.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationPreviewListViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationPreviewListViewModel.swift
  TrinapTests/Sources/MockTokenManager.swift
Labels: View, ViewModel, UseCase, Reservation

#195 예약 상태에 따른 예약 내역 상세 뷰 처리
  Trinap/Sources/Data/Repositories/Reservation/DefaultReservationRepository.swift
  Trinap/Sources/Domain/Models/Reservation.swift
  Trinap/Sources/Domain/Repositories/Reservation/ReservationRepository.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultFetchReservationUserTypeUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/FetchReservationUserTypeUseCase.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationCancelled.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationConfirmed.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationDone.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationRequested.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationStatusConfigurations.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationStatusConvertible.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationUseCaseExecutable.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationButtonView.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationUserView.swift
Labels: ✨ Feat, View, ViewModel, :lipstick: Style, Reservation

#199 docs: README 업데이트
  README.md
Labels: ✨ Feat

#194 Feature/SignOut, DropOut 구현
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  FirestoreService/Sources/FireStore/FirebaseStoreService.swift
  Trinap/Resources/Assets.xcassets/Images/checkBox.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/checkBox.imageset/checkBox.png
  Trinap/Resources/Assets.xcassets/Images/checkBox.imageset/checkBox@2x.png
  Trinap/Resources/Assets.xcassets/Images/checkBox.imageset/checkBox@3x.png
  Trinap/Resources/Assets.xcassets/Images/checkBox_fill.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/checkBox_fill.imageset/checkBox_fill.png
  Trinap/Resources/Assets.xcassets/Images/checkBox_fill.imageset/checkBox_fill@2x.png
  Trinap/Resources/Assets.xcassets/Images/checkBox_fill.imageset/checkBox_fill@3x.png
  Trinap/Sources/App/AppCoordinator.swift
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Domain/Repositories/Auth/AuthRepository.swift
  Trinap/Sources/Domain/UseCases/Auth/DropOut/DefaultDropOutUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/DropOut/DropOutUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignIn/CreateUserUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignIn/DefaultCreateUserUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignIn/DefaultSignInUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignIn/SignInUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignOut/DefaultSignOutUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignOut/SignOutUseCase.swift
  Trinap/Sources/Presenter/Common/Reusable/WarningStackView.swift
  Trinap/Sources/Presenter/TabBar/Coordinator/TabBarCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/SelectReservationDate/SelectReservationDateViewController.swift
  Trinap/Sources/Presenter/TabBar/Main/SelectReservationDate/SelectReservationDateViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageCoordinator.swift
  Trinap/Sources/Presenter/TabBar/MyPage/DropOut/DropOutViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/DropOut/DropOutViewModel.swift
Labels: Auth

#200 예약 요청 상태 관리
  Trinap/Sources/Data/Repositories/Reservation/DefaultReservationRepository.swift
  Trinap/Sources/Domain/Models/Reservation.swift
  Trinap/Sources/Domain/Repositories/Reservation/ReservationRepository.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultAcceptReservationRequestUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultCancelReservationRequestUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultCompletePhotoshootUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/AcceptReservationRequestUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/CancelReservationRequestUseCase.swift
  Trinap/Sources/Domain/UseCases/Reservation/Protocols/CompletePhotoshootUseCase.swift
  Trinap/Sources/Presenter/Common/Reusable/InformationStackView.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationCancelled.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationConfirmed.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationDone.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationError.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationRequested.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationButtonView.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationPreviewListViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationPreviewListViewModel.swift
Labels: ✨ Feat, View, ViewModel, UseCase, :lipstick: Style, Reservation

#202 Feature/photographer detail view
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/PhotographerListViewModel.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailImageView.swift
  Trinap/Sources/Presenter/TabBar/Main/TrinapAlert/TrinapAlert.swift
Labels: ✨ Feat, View, :lipstick: Style

#204 Feature/refactoring my page coordinator
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Domain/Models/MyPageItem.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageCoordinator.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/DetailImageViewController.swift
Labels: Auth, MyPage

#203 MyPageDependencyContainer 도입
  Trinap/Sources/Domain/Models/MyPageItem.swift
  Trinap/Sources/Presenter/Common/Extension/UINavigationController+.swift
  Trinap/Sources/Presenter/Common/Extension/UIViewController+Reactvie.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageCoordinator.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageDependencyContainter.swift
  Trinap/Sources/Presenter/TabBar/MyPage/DropOut/DropOutViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/EditProfile/EditProfileViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/DetailImageViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPhotographerViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPossibleDate/EditPossibleDateViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPossibleDate/EditPossibleDateViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/Register/RegisterPhotographerInfoViewModel.swift
  Trinap/Sources/Presenter/TabBar/Search/SearchViewModel.swift
Labels: ✨ Feat, Coordinator, MyPage

#206 사용자가 작성한 리뷰 목록 표시
  Trinap/Resources/Assets.xcassets/Images/star_fill_review.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/star_fill_review.imageset/Star_fill_review.png
  Trinap/Resources/Assets.xcassets/Images/star_fill_review.imageset/Star_fill_review@2x.png
  Trinap/Resources/Assets.xcassets/Images/star_fill_review.imageset/Star_fill_review@3x.png
  Trinap/Resources/Assets.xcassets/Images/star_review.imageset/Contents.json
  Trinap/Resources/Assets.xcassets/Images/star_review.imageset/Star_review.png
  Trinap/Resources/Assets.xcassets/Images/star_review.imageset/Star_review@2x.png
  Trinap/Resources/Assets.xcassets/Images/star_review.imageset/Star_review@3x.png
  Trinap/Sources/Data/DTO/ReviewDTO.swift
  Trinap/Sources/Data/Repositories/Photograhper/DefaultPhotograhperRepository.swift
  Trinap/Sources/Data/Repositories/Review/DefaultReviewRepository.swift
  Trinap/Sources/Domain/Models/Reservation.swift
  Trinap/Sources/Domain/Models/Review/Review.swift
  Trinap/Sources/Domain/Models/Review/UserReview.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultFetchReservationUseCase.swift
  Trinap/Sources/Domain/UseCases/Review/DefaultFetchReviewUseCase.swift
  Trinap/Sources/Domain/UseCases/Review/FetchReviewUseCase.swift
  Trinap/Sources/Presenter/Common/Reusable/ReviewCell.swift
  Trinap/Sources/Presenter/Common/Reusable/TrinapButton.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/MainDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageDependencyContainter.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationCancelled.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationDone.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationUserView.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/CreateReviewViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/CreateReviewViewModel.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/RatingView.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/ReviewList/CustomerReviewListViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/ReviewList/CustomerReviewListViewModel.swift
Labels: ✨ Feat, View, ViewModel, Coordinator, :lipstick: Style, Reservation

#207 Feature/revoke token
  Trinap/Sources/Data/Endpoint/TokenEndpoint.swift
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Domain/Repositories/Auth/AuthRepository.swift
  Trinap/Sources/Domain/UseCases/Auth/DropOut/DefaultDropOutUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignIn/DefaultSignInUseCase.swift
  Trinap/Sources/Domain/UseCases/Auth/SignIn/SignInUseCase.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewModel.swift
  Trinap/Sources/Utils/TokenManager/KeychainAccount.swift
Labels: Auth

#211 MyPage의 isPhotographer에 관련된 로직 추가
  Trinap/Sources/Data/Repositories/User/DefaultUserRepository.swift
  Trinap/Sources/Domain/Repositories/User/UserRepository.swift
  Trinap/Sources/Domain/UseCases/MyPage/DefaultEditUserUseCase.swift
  Trinap/Sources/Domain/UseCases/MyPage/EditUserUseCase.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageDependencyContainter.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageInfoRow.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewModel.swift
  Trinap/Sources/Utils/UserDefaultKey.swift
Labels: ✨ Feat, View, ViewModel, UseCase, MyPage

#218 위치 공유 디자인 반영
  Trinap/Sources/Config/Release.xcconfig
  Trinap/Sources/Presenter/Common/Reusable/LocationTrackButton.swift
  Trinap/Sources/Presenter/TabBar/Chat/Location/LocationShareViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/Location/LocationShareViewModel.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/PhotographerDetailCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/PhotographerDetailViewModel.swift
Labels: ✨ Feat, 🐛 Fix, View, ViewModel, :lipstick: Style, Chat

#221 마이페이지 버그 수정 및 작가 상세 뷰 레이아웃 코드 수정
  Trinap/Sources/Presenter/Common/Reusable/CompositionalLayout.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/PhotographerDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/Tableview/MyPageInfoRow.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/Tableview/MyPageSectionHeader.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/Tableview/MyPageSwitchRow.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/Tableview/ProfileCell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/ColletionView/PhotographerDetailCell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/ColletionView/PhotographerLayout.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/ColletionView/PhotographerReivewCell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/ColletionView/PhotographerSummaryReviewcell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPhotographerViewController.swift
Labels: ✨ Feat, 🐛 Fix, :recycle: Refactor, View

#222 마이페이지를 제외한 뷰 Navigation Bar 상세 설정
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  Than/Sources/Than.swift
  Trinap/Sources/Data/Repositories/Auth/DefaultAuthRepository.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Data/Repositories/Map/DefaultMapRepository.swift
  Trinap/Sources/Domain/Models/Chat/Chat.swift
  Trinap/Sources/Domain/Models/Sue.swift
  Trinap/Sources/Domain/UseCases/Reservation/DefaultCreateReservationDateUseCase.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Trinap/Sources/Presenter/Common/Extension/UIImagePickerController+Rx.swift
  Trinap/Sources/Presenter/Common/Extension/UINavigationController+.swift
  Trinap/Sources/Presenter/Common/Reusable/Filter/FilterView.swift
  Trinap/Sources/Presenter/Common/Reusable/NicknameTextFieldView.swift
  Trinap/Sources/Presenter/Common/Reusable/StarView.swift
  Trinap/Sources/Presenter/Common/Reusable/TrinapSearchBar.swift
  Trinap/Sources/Presenter/Common/Reusable/TrinapSingleSelectionCalendarView.swift
  Trinap/Sources/Presenter/Common/Reusable/UnderlinedSegmentedControl.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatDetailCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Chat/Location/LocationShareViewController.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/MainCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/MainDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/PhotographerDetailCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/PhotographerDetailDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/CollectionView/PhotographerProfileCell.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/PhotographerDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/PhotographerDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/PhotographerListViewController.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/PhotographerListViewModel.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/PhotographerPreviewCell.swift
  Trinap/Sources/Presenter/TabBar/Main/SearchBarView.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailCollectionView.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailCollectionViewCell.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailImageView.swift
  Trinap/Sources/Presenter/TabBar/MyPage/BlockList/BlockListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/MyPageViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/MyPage/Tableview/MyPageSwitchRow.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/ColletionView/PhotographerReivewCell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/Register/RegisterPhotographerInfoViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationDone.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/HandleStatus/ReservationError.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Detail/ReservationDetailViewModel.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationFilterView.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationPreviewListViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/ReviewList/CustomerReviewListViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Review/ReviewList/CustomerReviewListViewModel.swift
  Trinap/Sources/Presenter/TabBar/Search/SearchViewController.swift
  Trinap/Sources/Utils/Logger.swift
Labels: 🐛 Fix, View, ViewModel, Coordinator, :lipstick: Style

#223 마이페이지 NavigationBarView 적용
  Trinap/Resources/LaunchScreen.storyboard
  Trinap/Sources/App/Splash/SplashViewController.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/Auth/CreateUser/CreateUserViewController.swift
  Trinap/Sources/Presenter/Auth/CreateUser/CreateUserViewModel.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Trinap/Sources/Presenter/Common/Reusable/Filter/FilterView.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/CollectionView/PhotographerProfileCell.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerDetail/PhotographerDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Main/PhotographerList/PhotographerListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Contact/ContactListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Contact/ContactListViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Contact/Create/CreateContactViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Contact/Detail/DetailContactViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Contact/Detail/DetailContactViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageDependencyContainter.swift
  Trinap/Sources/Presenter/TabBar/MyPage/EditProfile/EditProfileViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/EditProfile/EditProfileViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/ColletionView/EditPhotographerProfileCell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPhotographerViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPhotographerViewModel.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/Register/RegisterPhotographerInfoViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/Register/RegisterPhotographerInfoViewModel.swift
  Trinap/Sources/Presenter/TabBar/Search/SearchViewController.swift
Labels: 🐛 Fix, :lipstick: Style, MyPage

#224 FakeRepository 구현
  Project.swift
  Trinap/Sources/App/AppCoordinator.swift
  Trinap/Sources/Data/Repositories/Fake/FakeAuthRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeBlockRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeChatRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeChatroomRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeError.swift
  Trinap/Sources/Data/Repositories/Fake/FakeMapRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakePhotographerRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeRepositoryType.swift
  Trinap/Sources/Data/Repositories/Fake/FakeReservationRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeReviewRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeSueRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeUploadImageRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeUserRepository.swift
  Trinap/Sources/Domain/Models/Coordinate.swift
  Trinap/Sources/Presenter/Auth/Coordinator/AuthCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatDetailCoordinator.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/MainDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Main/Coordinator/PhotographerDetailDependencyContainer.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailCollectionView.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailCollectionViewCell.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Coordinator/MyPageDependencyContainter.swift
  Trinap/Sources/Presenter/TabBar/Reservation/Coordinator/ReservationDependencyContainer.swift
  Trinap/Sources/Utils/ObservableConvertibleType+Driver.swift
Labels: ✨ Feat, 🐛 Fix, Repository

#226 placeHolder 추가
  Trinap/Sources/Presenter/Common/Reusable/PlaceHolderView.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/BlockList/BlockListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Contact/ContactListViewController.swift
  Trinap/Sources/Presenter/TabBar/MyPage/Photographer/EditPhotographerViewController.swift
  Trinap/Sources/Presenter/TabBar/Reservation/ReservationList/ReservationPreviewListViewController.swift
Labels: :lipstick: Style

#239 채팅 신고 및 나가기
  FirestoreService/Sources/FireStore/DefaultFirebaseStoreService.swift
  FirestoreService/Sources/FireStore/FirebaseStoreService.swift
  Trinap/Sources/Data/Repositories/Chat/DefaultChatroomRepository.swift
  Trinap/Sources/Data/Repositories/Fake/FakeChatroomRepository.swift
  Trinap/Sources/Domain/Models/Chat/ChatPreview.swift
  Trinap/Sources/Domain/Repositories/Chat/ChatroomRepository.swift
  Trinap/Sources/Domain/UseCases/Chat/DefaultLeaveChatroomUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/Protocols/LeaveChatroomUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/Protocols/ObserveChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/Protocols/ObserveLastChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/Protocols/SendChatUseCase.swift
  Trinap/Sources/Domain/UseCases/Chat/Protocols/UpdateIsCheckedUseCase.swift
  Trinap/Sources/Domain/UseCases/ChatPreviews/DefaultObserveChatPreviewsUseCase.swift
  Trinap/Sources/Presenter/Common/Base/BaseTableViewCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/Cell/ChatCell.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatDetail/ChatDetailViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewController.swift
  Trinap/Sources/Presenter/TabBar/Chat/ChatPreviewsViewModel.swift
  Trinap/Sources/Presenter/TabBar/Chat/Coordinator/ChatCoordinator.swift
Labels: ✨ Feat, View, ViewModel, UseCase, :lipstick: Style, Chat

#246 Apple SignIn Proxy로 리팩토링
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewController.swift
  Trinap/Sources/Presenter/Auth/SignIn/SignInViewModel.swift
  Trinap/Sources/Presenter/Common/Extension/ASAuthorizationController+Rx.swift
Labels: :recycle: Refactor, Auth

#249 Feature/image cache
  Queenfisher/Sources/ImageCache/CacheableImage.swift
  Queenfisher/Sources/ImageCache/ImageCache.swift
  Queenfisher/Sources/ImageCache/ImageCacheConfig.swift
  Queenfisher/Sources/ImageCache/ImageCacheError.swift
  Queenfisher/Sources/ImageCache/ImageCacheImplements.swift
  Queenfisher/Sources/ImageCache/ImageCacheProtocol.swift
  Queenfisher/Sources/ImageCache/ImageCacheStorage.swift
  Queenfisher/Sources/View/ImageView+QF.swift
  Trinap/Sources/Presenter/TabBar/Main/ThumbnailCollectionViewCell.swift
Labels: :recycle: Refactor
